<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda en línea - Presentación</title>
</head>
<body>
    <header>
       
        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Promociones</a></li>
            </ul>
        </nav>
        <div class="carrito">
            <a href="#">Carrito de compras</a>
        </div>
    </header>
    <main>
        <section>
            <h2>Bienvenidos a nuestra tienda en línea</h2>
            <p>En nuestra tienda en línea podrás encontrar una amplia variedad de productos de alta calidad a precios competitivos. Nos esforzamos por ofrecer a nuestros clientes la mejor experiencia de compra, con envíos rápidos y seguros y un servicio al cliente excepcional.</p>
        </section>
        